<style>
  table.dataTable td {
      font-size: x-small;
    }

/*.dataTables_filter input { border-radius: 5px;height:30px;border-color:gray;}*/
  .dataTables_filter {
        position: relative;
  }
 
  .dataTables_filter input {
        width: 250px;
        height: 32px;
        background: #fcfcfc;
        border: 1px solid #aaa;
        border-radius: 5px;
        box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
        text-indent: 10px;
  }
 
  .dataTables_filter .fa-search {
        position: absolute;
        top: 10px;
        left: auto;
        right: 10px;
  }

  .page-item.active .page-link {
        background-color: lightgrey !important;
        border: 1px solid black;
  }
  .page-link {
        color: black !important;


  }

  .dataTables_wrapper .dataTables_length select {
        border: 1px solid #aaa;
        border-radius: 5px;
        background: #fcfcfc;
        border: 1px solid #aaa;
        /*background-color: transparent;*/
        box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
        padding: 4px;
  }    

</style> 